header {
    background-color: rgb(223, 223, 114);
    height: 70px;
    border: solid 10px peru;
}

main {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}